@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1658848207516') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-gitee:before {
  content: "\e686";
}

.icon-juejin:before {
  content: "\e60b";
}

.icon-leetcode:before {
  content: "\ebf2";
}

